//colores

$lightcolor: #FAE85A;
$softcolor: #debf5052;
$primarycolor:#F5C764;
$shadowcolor:#DEA350;
$secondarycolor:#FAA05A;
$sucesscolor:#7DF57D;
$secondarycolor-variant:#F5A364;
$complementarycolor:#694CF5;
$complementarycolor-shadow:#4F3DAB;
$white: #FFFFFF;
$black: #000000;

//breakpoints
$bp-sm:576px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;