body{
    background-color: $softcolor;
}
.section{
    padding-top: 4vh;

    &__title{
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 22px;
        color: $primarycolor;
    }
    
// Galería
    &__gallery{
        width: 90%;
        height: 90%;
        margin: auto;
        text-align: center;

    }
}

.section-novedades{
    height: 30vh;
}

.section-ofertas{
    height: 60vh;
    width: 95%;
    padding-top: 6vh;
}
